/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

body {
  background-color: #f39f86;
  background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

img {
  max-width: 100%;
}

.mobile-container {
  background-color: white;
  width: 400px;
  box-shadow: 0 0 10px 2px #3333331A;
  border-radius: 3px;
  overflow: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

header input {
  background-color: rgb(255, 218, 117);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  font-family: inherit;
}

header button {
  background-color: transparent;
  border: none;
  color: #aaa;
  font-size: 1.5rem;
  margin-left: 10px;
  cursor: pointer;
}

.fav-container {
  background-color: #f0932b;
  padding: 0.25rem 1rem;
  text-align: center;
}

.fav-meals {
  min-width: 100%;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}

.fav-meals li {
  position: relative;
  margin: 0.5rem 1rem;
  width: 75px;
}

.fav-meals li .clear {
  background-color: transparent;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  opacity: 0;
}

.fav-meals li:hover .clear {
  opacity: 1;
}

.fav-meals li img {
  border: 2px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 10px 2px #3333331A;
  object-fit: cover;
  height: 70px;
  min-width: 70px;
}

.fav-meals li span {
  display: inline-block;
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 75px;
}

.meal {
  border-radius: 3px;
  box-shadow: 0 0 10px 2px #3333331A;
  margin: 1.5rem;
  overflow: hidden;
  cursor: pointer;
}

.meal-header {
  position: relative;
}

.meal-header .random {
  position: absolute;
  top: 1rem;
  background-color: white;
  padding: 0.25rem 0.5rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.meal-header img {
  object-fit: cover;
  height: 240px;
  width: 100%;
}

.meal-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.meal-body h4 {
  margin: 0;
}

.meal-body .fav-btn {
  border: none;
  color: lightgray;
  background-color: transparent;
  font-size: 1.2rem;
  cursor: pointer;
}

.meal-body .fav-btn .active {
  color: #eb4d4b;
}

.popup-container {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup{
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  max-width: 600px;
  max-height: 100vh;
  padding: 0 2rem;
  position: relative;
  overflow: auto;
  margin: 2rem;
}

.meal-info h1 {
  text-align: center;
}

.close-popup {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.hidden {
  opacity: 0;
  pointer-events: none;
}